:root {
  /* Colors */
  --color-black: #000000;

  /* Base */
  --color-base: var(--color-black);
  --font-size-base: 1.5rem;
  --font-family-primary: 'Open Sans';
  --font-family-secondary: 'Raleway';
  --line-height-heading: 1.22;
  --line-height-base: 1.5;
}
