@import '../../sass/mixins/index';

.portfolio {
  background: var(--color-dark);
  flex-direction: column;
  margin: 9.7rem 0 6.2rem;
  padding: 6.3rem 0 1.8rem;
  @include flex-center;

  @include media-query('md') {
    margin: 16.2rem 0 14.2rem;
    padding: 10.7rem 0 2.3rem;
  }

  &__projects {
    display: grid;
    grid-auto-rows: 21rem;
    max-width: 40rem;
    width: 100%;

    @include media-query('md') {
      grid-auto-rows: 30rem;
      margin: 0 auto;
      max-width: 64rem;
    }
    @include media-query('lg') {
      grid-auto-rows: 40rem;
    }
  }

  &__multiple-projects {
    @include media-query('xl') {
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
    }
    @include media-query('xxl') {
      flex-wrap: wrap;
      gap: unset;
      max-width: 1920px;
      @include flex-center;
    }
  }

  &__promise {
    color: var(--color-white);
    font-family: var(--font-family-tertiary);
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 5rem;
  }
}
