<!-- Brand icon black -->
<div class="brand-container">
  <svg class="brand brand-icon1">
    <use xlink:href="assets\images\brand_sprite.svg#vector1"></use>
  </svg>
  <svg class="brand brand-icon2">
    <use xlink:href="assets\images\brand_sprite.svg#vector2"></use>
  </svg>
  <svg class="brand brand-icon3">
    <use xlink:href="assets\images\brand_sprite.svg#manice"></use>
  </svg>
</div>

<!-- Brand icon white -->
<div class="brand-container">
  <svg class="brand brand-icon1">
    <use xlink:href="assets\images\brand_sprite_white.svg#vector1_white"></use>
  </svg>
  <svg class="brand brand-icon2 brand--white">
    <use xlink:href="assets\images\brand_sprite_white.svg#vector2_white"></use>
  </svg>
  <svg class="brand brand-icon3 brand--white">
    <use xlink:href="assets\images\brand_sprite_white.svg#manice_white"></use>
  </svg>
</div>

<!-- Cards icon -->
<svg class="card-icon">
  <use xlink:href="assets\images\media_icons_sprite.svg#it_consulting"></use>
</svg>

<!-- Company logos -->
<img
  class="company__icon"
  src="assets\images\company_logos\company_first.svg#company_first"
  alt=""
/>
<img
  class="company__icon"
  src="assets\images\company_logos\company_second.svg#company_second"
  alt=""
/>
<img
  class="company__icon"
  src="assets\images\company_logos\company_third.svg#company_third"
  alt=""
/>
<img
  class="company__icon"
  src="assets\images\company_logos\company_fourth.svg#company_fourth"
  alt=""
/>

<!-- Tag icon -->
<div class="tag d--flex">
  <svg class="tag-icon">
    <use xlink:href="assets\images\news tags svg.svg#person"></use>
  </svg>
  <p class="tag-name">Admin</p>
</div>
