@import '../../sass/mixins/index';

.about {
  @include flex-center;

  flex-direction: column;
  padding: 14.2rem 4rem 10.8rem;

  @include media-query('lg') {
    padding: 14.2rem 0 10.8rem;
    @include section-container;
  }

  &__description {
    margin: 3.8rem;
    @include media-query('md') {
      margin: 7.1rem 0;
      text-align: center;
    }
  }
}
