<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <img
      class="burger-icon collapsible__chevron"
      src="assets\images\FAQ_pointer.svg"
      alt=""
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
    perferendis, similique debitis asperiores corrupti iure maxime voluptates
    ipsam aliquam temporibus?
  </div>
</div>
