<!-- News card -->
<div class="card body--color">
  <div class="card__img"></div>
  <h4 class="card__title text--black">
    Reprehenderit in voluptate velit esse cillum
  </h4>
  <div class="d--flex">
    <p class="card__date">July 29, 2020</p>
    <hr class="vertical__line" />
    <p class="topic">Arts</p>
  </div>
  <p class="card__text">
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
    sunt in culpa.
  </p>
  <a class="card__link text--primary" href="#">Read more</a>
</div>

<!-- Pricing card -->
<div class="pricing__card body--color">
  <p class="pricing__plan text-align-center">Starter</p>
  <p class="pricing__price bold-lato-text text-align-center">Free</p>
  <p class="pricing__description italic--text text-align-center">
    for up to 2 editors and 3 projects
  </p>

  <ul class="list features__list">
    <li class="pricing__feature">
      <div class="d--flex">
        <img
          class="pricing__tick"
          src="./assets/images/pricing feature tick.svg"
          alt=""
        />
        <p class="feature__description">3 projects</p>
      </div>
    </li>

    <li class="pricing__feature">
      <div class="d--flex">
        <img
          class="pricing__tick"
          src="./assets/images/pricing feature tick.svg"
          alt=""
        />
        <p class="feature__description">30-day version history</p>
      </div>
    </li>

    <li class="pricing__feature">
      <div class="d--flex">
        <img
          class="pricing__tick"
          src="./assets/images/pricing feature tick.svg"
          alt=""
        />
        <p class="feature__description">Up to 2 editors</p>
      </div>
    </li>

    <li class="pricing__feature">
      <div class="d--flex">
        <img
          class="pricing__tick"
          src="./assets/images/pricing feature tick.svg"
          alt=""
        />
        <p class="feature__description">Unlimited cloud storage</p>
      </div>
    </li>
  </ul>

  <div class="btn btn--primary pricing__btn">Get Now</div>
</div>

<!-- Popular pricing card -->
<div class="popular-pricing__card bg--primary text--white">
  <div class="popular__rectangle text--black">popular</div>
  <p class="pricing__plan text-align-center">Starter</p>
  <p class="pricing__price bold-lato-text text-align-center">$9.99/mo</p>
  <p class="pricing__description italic--text text-align-center">
    for up to 2 editors and 3 projects
  </p>

  <ul class="list features__list">
    <li class="pricing__feature">
      <div class="d--flex">
        <img
          class="pricing__tick"
          src="assets\images\pricing tick white.svg"
          alt=""
        />
        <p class="feature__description">3 projects</p>
      </div>
    </li>

    <li class="pricing__feature">
      <div class="d--flex">
        <img
          class="pricing__tick"
          src="assets\images\pricing tick white.svg"
          alt=""
        />
        <p class="feature__description">30-day version history</p>
      </div>
    </li>

    <li class="pricing__feature">
      <div class="d--flex">
        <img
          class="pricing__tick"
          src="assets\images\pricing tick white.svg"
          alt=""
        />
        <p class="feature__description">Up to 2 editors</p>
      </div>
    </li>

    <li class="pricing__feature">
      <div class="d--flex">
        <img
          class="pricing__tick"
          src="assets\images\pricing tick white.svg"
          alt=""
        />
        <p class="feature__description">Unlimited cloud storage</p>
      </div>
    </li>
  </ul>

  <div class="btn btn--black pricing__btn">Get Now</div>
</div>

<!-- Clients says comment card -->
<div class="comment__container body--color">
  <p class="client-comment italic--text">
    Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus
    error sit voluptatem accusantium dolore mque laudantium.
  </p>
  <img
    class="absolute-quotes"
    src="assets\images\client card quotes.svg"
    alt=""
  />
  <div class="d--flex client-info">
    <div class="client-img bg--accent"></div>
    <div class="client__container">
      <p class="client-name bold-lato-text text--black">Rushi Sasmito</p>
      <p class="client-company italic--text">ABC Company</p>
    </div>
  </div>
</div>
