<div class="grid grid-cols-2">
  <div class="company-value__left-col body--color">
    <div class="value-container-left">
      <h3 class="value__title text--black">
        <span class="text--primary">Company</span> Value
      </h3>
      <p class="value__text">
        Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium dolore mque laudantium, totam rem
        aperiam eaque ipsa quae ab illo invent. Sed ut perspiciatis unde omnis.
      </p>
      <ul class="list--tick">
        <li class="list__item">
          Excepteur sint occaecat cupidatat non proident sunt in culpa qui
          officia deserunt mollit anim.
        </li>
        <li class="list__item">
          Duis aute irure dolor in reprehenderit in voluptate velit esse.
        </li>
        <li class="list__item">
          Consectetur adipisicing elit sed do eiusmod temporin cididunt ut
          labore et dolore.
        </li>
      </ul>
      <button class="btn btn--primary">Learn More</button>
    </div>
  </div>
</div>
