* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #3ab54a;
  --color-secondary: #ffffff;
  --color-accent: #c4c4c4;
  --color-body: #666666;
}

.align-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.body--color {
  color: var(--color-body);
}

.body--color h2,
.body--color h3,
.body--color h4,
.body--color .bold-lato-text {
  color: #000;
}

.bold-lato-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
}

.italic--text {
  font-style: italic;
}

.text--white {
  color: #ffffff;
}

.text--primary {
  color: var(--color-primary);
}

.text--black {
  color: #000;
}

/* Grid */
.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.d--flex {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 115.8rem;
}

.bg--white {
  background-color: #ffffff;
}

.bg--secondary {
  background-color: var(--color-secondary);
}

.bg--accent {
  background-color: var(--color-accent);
}

.bg--primary {
  background-color: var(--color-primary);
  color: #ffffff;
}

.bg--black {
  background-color: #000;
  color: #ffffff;
}

/* Typography */
html {
  font-size: 62.5%;
}

.flex__container {
  display: flex;
}

.container {
  max-width: 115.8rem;
  margin: 0 auto;
}

.hero {
  max-width: 67.5rem;
  margin-top: 23.9rem;
  margin-bottom: 43.6rem;
}

.hero__title {
  font-size: 8rem;
  line-height: 8rem;
  margin-bottom: 2.6rem;
}

.hero__description {
  margin-bottom: 5.4rem;
  font-size: 2.4rem;
  line-height: 2.81rem;
}

.hero .flex--container {
  gap: 1.2rem;
}

.hero .btn {
  width: 16.5rem;
  height: 5.5rem;
}

/* Testimonials */
.quote {
  font-style: italic;
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 3.2rem;
}

.testimonial__name {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2.1rem;
  line-height: 2.5rem;
}

.testimonial__qualification {
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

/* News card */
.vertical__line {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 2rem;
  width: 1px;
  margin-right: 1.9rem;
}

.card {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.card .flex__container {
  align-items: center;
  margin-bottom: 3.4rem;
}

.card__img {
  background-color: #666666;
  max-width: 37rem;
  height: 25.2rem;
}

.card__title {
  font-size: 2.1rem;
  line-height: 2.5rem;
  margin-top: 2.4rem;
  margin-bottom: 2rem;
}

.card__date {
  margin-right: 1.6rem;
}

.card__text {
  margin-bottom: 1.8rem;
}

.card__link {
  text-decoration: none;
}

/* Buttons */
.btn {
  padding: 1.8rem 2.4rem;
  border: none;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #ffffff;
}

.btn--white {
  background-color: #ffffff;
  color: #000;
}

.btn--black {
  background-color: #000000;
  color: #ffffff;
}

/* Lists */
.list {
  list-style: none;
}

.list--tick {
  list-style-image: url(../images/list_tick.png);
  padding-left: 3rem;
}

.list--tick .list__item {
  margin-bottom: 3.2rem;
  padding-left: 0.5rem;
}

/* Company Value */
.company-value__left-col .btn {
  width: 16.5rem;
  height: 5.5rem;
}

.company-value__left-col .d--flex {
  flex-direction: column;
  justify-content: center;
}

.company-value__left-col {
  margin-right: 9.9rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.section__value {
  background-color: #f6fff7;
  height: 83.2rem;
  position: relative;
}

.container__value {
  max-width: 115.8rem;
  margin: 0 auto;
  padding-top: 7rem;
  display: flex;
}

.value__img-col {
  background-color: var(--color-accent);
  display: flex;
  height: 63.8rem;
  width: 100%;
  z-index: 999;
  flex: none;
}

.value__title {
  margin-bottom: 4.2rem;
  line-height: 5.5rem;
  font-size: 3.6rem;
  color: #000;
}

.value__text {
  margin-bottom: 3.7rem;
  width: 45.9rem;
}

.section__value .list--tick {
  margin-bottom: 6rem;
}

.section__value .list__item {
  width: 47.3rem;
}

.bg-rectangle {
  position: absolute;
  width: 77.5rem;
  height: 83.2rem;
  background-color: var(--color-primary);
  right: 0;
  top: -2.7rem;
}

/* Pricing card */
.pricing__card,
.popular-pricing__card {
  border: 1px solid var(--color-accent);
}

.pricing__plan {
  margin-top: 4.7rem;
  margin-bottom: 1.2rem;
}

.pricing__price {
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.pricing__description,
.pricing__plan,
.pricing__btn,
.popular__rectangle {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.pricing__description {
  margin-top: 1.3rem;
  margin-bottom: 5.3rem;
}

.features__list {
  margin-left: 4.3rem;
}

.pricing__tick {
  margin-right: 1.8rem;
}

.feature__description {
  font-size: 1.6rem;
  line-height: 4rem;
}

.pricing__btn {
  margin: 0 3.7rem 3.8rem 3.8rem;
  width: auto;
  text-align: center;
  height: 5.5rem;
  justify-self: center;
  align-self: center;
  margin-top: 7.2rem;
}

/* Popular pricing card */
.popular-pricing__card {
  position: relative;
}

.popular__rectangle {
  position: absolute;
  text-transform: uppercase;
  background-color: #fff615;
  width: 29.5rem;
  height: 4.5rem;
  text-align: center;
  padding-top: 1.2rem;
  margin-left: 3.8rem;
  top: -1.9rem;
}

/* Client card */
.comment__container {
  position: relative;
  border: 1px solid var(--color-accent);
  width: 57rem;
  height: 33.48rem;
}

.absolute-quotes {
  position: absolute;
  top: 3rem;
  left: 1.7rem;
  z-index: -1;
}

.client-comment {
  padding: 4.3rem 3.5rem 0 4rem;
  font-size: 2.7rem;
  line-height: 3.2rem;
}

.client-img {
  border-radius: 100%;
  width: 10rem;
  height: 10.2rem;
  margin-left: 4rem;
  margin-right: 2.2rem;
}

.client-name {
  font-size: 2.1rem;
  line-height: 2.5rem;
  margin-bottom: 0.9rem;
}

.comment__container .d--flex {
  align-items: center;
  margin-top: 2.25rem;
}

.client-company {
  font-size: 1.6rem;
  line-height: 1.9rem;
}
