$heading-sizes: (
  'primary': (
    'sm': 3.5rem,
    'md': 5rem,
    'lg': 6.5rem,
    'xl': 8rem,
  ),
  'secondary': (
    'sm': 2rem,
    'md': 2.8rem,
    'lg': 3.5rem,
    'xl': 4rem,
  ),
  'tertiary': (
    'sm': 1.4rem,
    'md': 1.8rem,
    'lg': 2rem,
    'xl': 2.5rem,
  ),
);

$body-sizes: (
  'large': (
    'sm': 1.8rem,
    'lg': 2rem,
  ),
  'medium': (
    'sm': 1.6rem,
    'lg': 1.8rem,
  ),
  'small': (
    'sm': 1.4rem,
  ),
);

$button-sizes: (
  'small': (
    'sm': 1.3rem,
    'lg': 1.5rem,
  ),
  'medium': (
    'sm': 1.2rem,
    'md': 1.5rem,
    'lg': 1.7rem,
  ),
);

@mixin map-sizes($text-sizes, $type) {
  @each $name, $sizes in $text-sizes {
    @if ($name == $type) {
      font-size: map-get($sizes, 'sm');
      @each $key, $size in $sizes {
        @include media-query($key) {
          font-size: $size;
        }
      }
    }
  }
}

@mixin heading-styles($type, $weight: 700, $color: var(--color-base)) {
  color: $color;
  font-family: var(--font-family-primary);
  font-weight: $weight;
  line-height: var(--line-height-heading);
  @include map-sizes($heading-sizes, $type);
}

@mixin body-styles($type, $color: var(--color-base), $weight: null) {
  color: $color;
  font-family: var(--font-family-secondary);
  font-weight: $weight;
  @include map-sizes($body-sizes, $type);
}

@mixin button-styles($type, $color: var(--color-base), $weight: null) {
  color: $color;
  font-family: var(--font-family-tertiary);
  font-weight: $weight;
  @include map-sizes($button-sizes, $type);
}
