/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 
- Fonts 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  background: var(--color-body-bg);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #909090;
  --color-body-bg: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(1, 1, 1, 0.16) 100%
    ),
    #ffffff;
  --color-hero-icons-bg: #c4c4c4;
  --color-hero-mobile-bg: #e5e5e5;
  --color-hero-desktop-bg: #d7d7d7;
  --color-footer-bg: #1a1a1a;
  --color-footer-icons: #ffffffe6;
}

/* Typography */
h1,
.hero__greeting,
.hero__description {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.1rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.36em;
  line-height: 1.79rem;
  text-transform: uppercase;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0 auto;
  max-width: 76.3rem;
  width: 70%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5.2rem;
    line-height: 6.5rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .description {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 8rem;
    line-height: 9.39rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.83rem;
  }
}

.text--black {
  color: var(--color-primary);
}

.text--white {
  color: var(--color-secondary);
}

.text--accent {
  color: var(--color-accent);
}

/* Header-box */
.header-box__container {
  align-items: center;
  border: 8px solid var(--color-primary);
  display: flex;
  height: 6.8rem;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 4.7rem;
}

@media (min-width: 768px) {
  .header-box__container {
    margin-bottom: 5.2rem;
  }
}

.header-box__header {
  margin: 0 3.5rem;
}

@media (min-width: 1024px) {
  .header-box__container {
    height: 8.7rem;
  }

  .header-box__header {
    margin: 0 6rem;
  }

  .header-box__container {
    margin-bottom: 7.9rem;
  }
}

@media (min-width: 1920px) {
  .header-box__container {
    height: 10.7rem;
  }

  .header-box__header {
    margin: 0 7rem;
  }
}

/* Icons */
.color--white {
  fill: var(--color-secondary);
}

.icon__container {
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s cubic-bezier(0, 0, 1, 0.49);
}

@media (min-width: 768px) {
  .icon__container {
    background: var(--color-hero-icons-bg);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    width: 5.3rem;
    height: 4.8rem;
  }

  .icon__container:hover {
    background-color: var(--color-secondary);
  }
}

@media (min-width: 1024) {
  .icon__container {
    width: 6.1rem;
    height: 5.6rem;
  }
}

@media (min-width: 1920px) {
  .icon__container {
    width: 6.1rem;
    height: 5.6rem;
  }
}

/* Hero */
@media (min-width: 768px) {
  .hero__social-icon {
    width: 30px;
    height: 30px;
  }

  .hero__social-icon.color--white {
    fill: var(--color-primary);
    transition: 0.3s ease-in-out;
  }
}

@media (min-width: 1024px) {
  .hero__social-icon {
    width: 38px;
    height: 38px;
  }
}

@media (min-width: 1920px) {
  .hero__social-icon {
    width: 36px;
    height: 36px;
  }
}

/* Buttons */
.btn {
  background-color: transparent;
  border-color: var(--color-primary);
  border-style: solid;
  border-width: 0 3px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  height: 3.2rem;
  letter-spacing: 0.1em;
  margin: 0 auto;
  text-transform: uppercase;
  min-width: 14rem;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn.text--white:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

@media (min-width: 1024px) {
  .btn {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

/* Footer */
.footer__social-icon {
  width: 3rem;
  height: 3rem;
  opacity: 0.9;
  cursor: pointer;
}

.footer__social-icon:hover {
  opacity: 1;
  box-shadow: 0 0 1em rgb(255, 255, 255);
}

.footer__social-icon {
  margin: 0 1.4rem;
}
