/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 
- Fonts 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  background: var(--color-body-bg);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  position: relative;
}

:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-accent: #909090;
  --color-body-bg: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(1, 1, 1, 0.16) 100%
    ),
    #ffffff;
  --color-hero-icons-bg: #c4c4c4;
  --color-hero-mobile-bg: #e5e5e5;
  --color-hero-desktop-bg: #d7d7d7;
  --color-footer-bg: #1a1a1a;
  --color-footer-icons: #ffffffe6;
}

/* Typography */
h1,
.hero__greeting,
.hero__description {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.1rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.36em;
  line-height: 1.79rem;
  text-transform: uppercase;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 0 auto;
  max-width: 76.3rem;
  width: 70%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5.2rem;
    line-height: 6.5rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .description {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 8rem;
    line-height: 9.39rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3.83rem;
  }
}

.text--black {
  color: var(--color-primary);
}

.text--white {
  color: var(--color-secondary);
}

.text--accent {
  color: var(--color-accent);
}

/* Header-box */
.header-box__container {
  align-items: center;
  border: 8px solid var(--color-primary);
  display: flex;
  height: 6.8rem;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 4.7rem;
}

@media (min-width: 768px) {
  .header-box__container {
    margin-bottom: 5.2rem;
  }
}

.header-box__header {
  margin: 0 3.5rem;
}

@media (min-width: 1024px) {
  .header-box__container {
    height: 8.7rem;
  }

  .header-box__header {
    margin: 0 6rem;
  }

  .header-box__container {
    margin-bottom: 7.9rem;
  }
}

@media (min-width: 1920px) {
  .header-box__container {
    height: 10.7rem;
  }

  .header-box__header {
    margin: 0 7rem;
  }
}

/* Icons */
.color--white {
  fill: var(--color-secondary);
}

.icon__container {
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s cubic-bezier(0, 0, 1, 0.49);
}

@media (min-width: 768px) {
  .icon__container {
    background: var(--color-hero-icons-bg);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    width: 5.3rem;
    height: 4.8rem;
  }

  .icon__container:hover {
    background-color: var(--color-secondary);
  }
}

@media (min-width: 1024) {
  .icon__container {
    width: 6.1rem;
    height: 5.6rem;
  }
}

@media (min-width: 1920px) {
  .icon__container {
    width: 6.1rem;
    height: 5.6rem;
  }
}

/* Navbar */
.nav {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-bottom: -7.3rem;
  position: relative;
  z-index: 8;
}

.nav.collapsible--expanded {
  background-color: var(--color-primary);
}

.nav__list {
  width: 100%;
  background-color: #1d1a19;
}

.nav__item {
  color: var(--color-secondary);
  padding: 1.4rem 2.2rem;
  text-align: center;
  transition: all 0.3s;
}

.nav__item > a {
  color: inherit;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-decoration: none;
  transition: all 0.3s;
}

.nav__item:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.nav__toogler {
  opacity: 0.7;
  padding: 2.3rem 4.2rem 2.3rem;
}

.collapsible--expanded .nav__toogler {
  opacity: 1;
}

.collapsible--expanded .nav__list {
  border-top: 1px solid var(--color-secondary);
}

@media (min-width: 768px) {
  .nav {
    background-color: transparent;
    justify-content: center;
    min-height: 6.6rem;
    padding-left: 41rem;
  }

  .nav.collapsible--expanded {
    background-color: transparent;
  }

  .nav__toogler {
    display: none;
  }

  .nav__list.collapsible__content {
    background-color: transparent;
    display: flex;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .collapsible--expanded .nav__list {
    border-top: unset;
  }

  .nav__item:hover {
    height: 70%;
    margin-left: 0.8rem;
    border-radius: 3rem;
  }
}

@media (min-width: 1024px) {
  .nav {
    padding-left: 56rem;
  }

  .nav__item {
    margin-right: 2rem;
  }

  .nav__item > a {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

@media (min-width: 1920px) {
  .nav__item > a {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2.1rem;
  }

  .nav {
    padding-left: 62rem;
  }
}

/* Hero */
.hero__dark-side {
  background-color: var(--color-primary);
  height: 100vh;
  z-index: 1;
}

.bright-side__bg {
  background: var(--color-hero-mobile-bg);
  bottom: 0;
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
  left: 0;
  min-height: 23rem;
  position: absolute;
  right: 0;
  z-index: 2;
}

.bg__img {
  background-color: transparent;
  background-image: url(../images/big-hero-photo-removebg.png);
  background-position: center;
  background-size: cover;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
}

.hero__bright-side {
  background: rgba(0, 0, 0, 0.56);
  bottom: 0;
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
  display: flex;
  justify-content: space-between;
  left: 0;
  min-height: 23rem;
  padding-bottom: 4.8rem;
  position: absolute;
  right: 0;
  z-index: 4;
}

.hero__text {
  color: var(--color-secondary);
}

.hero__text {
  margin-top: auto;
  margin-left: 3.7rem;
}

.hero__greeting {
  font-size: 2rem;
  line-height: 2.4rem;
}

.hero__description {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.hero__container {
  position: relative;
}

.icons__container {
  display: flex;
  flex-direction: column;
  grid-gap: 29px;
  justify-content: end;
  margin-right: 3rem;
}

.hero__container {
  height: 100vh;
}

.hero__social-icon {
  width: 26px;
  height: 25px;
}

@media (min-width: 768px) {
  .bright-side__bg,
  .hero__bright-side {
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 82% 100%, 0 100%);
    height: 100vh;
    left: 0;
    top: 0;
    width: 49.5%;
  }

  .bright-side__bg {
    background: var(--color-hero-desktop-bg);
  }

  .hero__bright-side {
    background: transparent;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    padding-left: 8rem;
  }

  .hero__text {
    margin: unset;
    color: var(--color-primary);
  }

  .icons__container {
    flex-direction: unset;
    justify-content: unset;
  }

  .bg__img {
    left: unset;
    width: 50rem;
    height: 90vh;
  }

  .hero__greeting {
    margin-bottom: 2.4rem;
    font-size: 2.2rem;
  }

  .hero__description {
    color: var(--color-accent);
    margin-bottom: 12.6rem;
    font-size: 1.6rem;
  }

  .hero__social-icon {
    width: 30px;
    height: 30px;
  }

  .hero__social-icon.color--white {
    fill: var(--color-primary);
    transition: 0.3s ease-in-out;
  }
}

@media (min-width: 1024px) {
  .bg__img {
    width: 60rem;
    height: 90vh;
    right: 7%;
  }

  .hero__greeting {
    font-size: 2.6rem;
  }

  .hero__description {
    font-size: 2rem;
  }

  .hero__social-icon {
    width: 38px;
    height: 38px;
  }
}

@media (min-width: 1440px) {
  .bg__img {
    width: 70rem;
    right: 10%;
    height: 100vh;
  }

  .hero__bright-side {
    padding-left: 23rem;
  }
}

@media (min-width: 1920px) {
  .bg__img {
    width: 85rem;
    right: 18%;
  }

  .hero__greeting {
    font-size: 4rem;
    line-height: 5rem;
  }

  .hero__description {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .hero__social-icon {
    width: 36px;
    height: 36px;
  }
}

/* List */
.list {
  list-style: none;
}

/* Buttons */
.btn {
  background-color: transparent;
  border-color: var(--color-primary);
  border-style: solid;
  border-width: 0 3px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  height: 3.2rem;
  letter-spacing: 0.1em;
  margin: 0 auto;
  text-transform: uppercase;
  min-width: 14rem;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn.text--white:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

@media (min-width: 1024px) {
  .btn {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

/* Footer */
.footer__social-icon {
  width: 3rem;
  height: 3rem;
  opacity: 0.9;
  cursor: pointer;
}

.footer__social-icon:hover {
  opacity: 1;
  box-shadow: 0 0 1em rgb(255, 255, 255);
}

.footer__social-icon {
  margin: 0 1.4rem;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
