@import '../../sass/mixins/index';

.heading__wrapper {
  border: 8px solid var(--color-primary);
  min-width: 21rem;

  @include media-query('xxl') {
    min-width: 40.4rem;
  }
}

.heading__title {
  letter-spacing: 0.36em;
  margin: 0;
  padding: 1.8rem 3.6rem;
  text-align: center;
  text-transform: uppercase;
  @include heading-styles('tertiary', 700, var(--color-primary));

  @include media-query('md') {
    padding: 2.6rem 7.2rem;
  }
}
