<div class="container">
  <nav class="nav collapsible">
    <a href="./index.html">
      <div class="brand-container">
        <svg class="brand brand-icon1">
          <use xlink:href="assets\images\brand_sprite.svg#vector1"></use>
        </svg>
        <svg class="brand brand-icon2">
          <use xlink:href="assets\images\brand_sprite.svg#vector2"></use>
        </svg>
        <svg class="brand brand-icon3">
          <use xlink:href="assets\images\brand_sprite.svg#manice"></use>
        </svg>
      </div>
    </a>
    <img class="nav__toggler" src="./assets/images/burger_menu.svg" alt="" />
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="./index.html">Home</a></li>
      <li class="nav__item"><a href="./about.html">About</a></li>
      <li class="nav__item services__link">
        <a href="./services.html">Services +</a>
        <div class="dd__menu">
          <ul class="list">
            <li class="nav__item dd__link">
              <a href="./service single.html">Financial Analysis</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav__item"><a href="./news.html">News</a></li>
      <li class="nav__item pages__link">
        <a href="./pricing table.html">Pages +</a>
        <div class="dd__menu">
          <ul class="list">
            <li class="nav__item dd__link">
              <a href="./faq.html">FAQ</a>
            </li>
            <li class="nav__item dd__link">
              <a href="./pricing table.html">Pricing table</a>
            </li>
            <li class="nav__item dd__link">
              <a href="./404.html">404</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav__item"><a href="./contacts.html">Contact</a></li>
    </ul>
  </nav>
</div>
