@import '../../sass/mixins/index';

.btn {
  $active-bg-color: var(--color-black);
  $hover-bg-color: var(--color-dark);
  $active-color: var(--color-white);

  background-color: transparent;
  border-color: var(--color-black);
  border-style: solid;
  border-width: 0 3px;
  cursor: pointer;
  height: 3.2rem;
  padding: 0 1.8rem;
  text-transform: uppercase;
  transition: background-color 0.6s linear, color 0.6s;

  @include button-styles('medium', var(--color-black), 600);

  &:hover {
    background-color: $hover-bg-color;
    color: $active-color;
  }

  &:focus {
    background-color: $hover-bg-color;
    border: 2px solid var(--color-black);
    color: $active-color;
  }

  &:focus-visible {
    background-color: $active-bg-color;
    border: 0;
    color: $active-color;
    outline: 4px dashed var(--color-orange);
  }
}
