@import '../../sass/mixins/index';

.footer {
  background: var(--color-footer-bg);
  display: flex;
  justify-content: center;
  max-height: 28.9rem;

  &__container {
    flex-direction: column;
    margin: 4.6rem 0;
    max-width: 20.4rem;

    @include flex-center;
  }
}
